<div class="container">

    <fieldset class="form-group" style="height:300px">

        <legend style="width:150px">EXPORT FILE</legend>
            <div class="col-sm-12" style="text-align:center;margin-top:20px">
              <h3>Export day off report file</h3>
            </div>
            <div class="col-sm-12" style="text-align:center;margin-top:40px">
                <!-- export excel file -->
                <button type="button" class="btn-lg btn-warning">EXPORT</button>
            </div>

    </fieldset>

</div>
