<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
    .container{
    margin:0 auto;
    width:800px;
    text-align:left;
    }
    </style>
</head>
<body>

    <div class="container" >
        <h2>LOG-IN</h2>
        <form style="width:250px;">
            <div class="form-group">
                <label for="usr">Username:</label>
                <input type="text" class="form-control" id="usr">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd"> <br />
                <a href="#" class="btn btn-info" role="button">Register</a>
                <input type="submit" class="btn btn-info" value="Submit">
            </div>
            
        </form>
    </div>

</body>
</html>