<div class="container" ng-controller="modifyProjectController">
    <fieldset class="form-group">
        <legend style="margin:0 10px 0 10px; width:200px;">MODIFY PROJECT</legend>

        <div class="row" style="text-align:center">

          <div class="col-sm-12" style="padding:50px 0 100px 0;">
            <select class="dropdown form-control" style="width: 50%; margin:0 auto">
              <option value="0" selected="selected">--Please Select--</option>
              <option value="1">Project Name</option>
              <option value="2">test2</option>
              <option value="3">test3</option>
            </select>
          </div>

          <div class="row">
            <div class="col-sm-6" style="text-align:right;">
                <!--กด update จะไปหน้า modifymember_update-->
                <button type="button" class="btn btn-info" ng-click="updateProjectSubmit()">Update</button>
            </div>
            <div class="col-sm-6" style="text-align:left;">
              <!--พอกด delete จะมีpop-upขึ้นมาถามก่อนลบ-->
              <button type="button" class="btn btn-danger" ng-click="submit()">Delete</button>
            </div>
          </div>

    </fieldset>

</div>
