<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style type="text/css">
    #divbottom {
        width: 1000px;
        margin: 20px auto;
    }
</style>





<div class="container">
    <fieldset style="height: 200px; width: 480px; margin-left: 50px; margin-top: 10px; border-style:solid; margin-right:20px;">
        <legend>MODIFY MEMBER</legend>

            
        <div class="dropdown">
            <button class="btn  dropdown-toggle" type="button" data-toggle="dropdown">
                -- Select Member --
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">ชื่อคนในทีม1</a></li>
                <li><a href="#">ชื่อคนในทีม2</a></li>
                <li><a href="#">ชื่อคนในทีม3</a></li>
            </ul>

        </div>
          
                <div id="divbottom">
                    <!--กด update จะไปหน้า modifymember_update-->
                    <input type="button" class="btn" value="Update" style="margin-right:80px; margin-top:150px;">
                    <!--พอกด delete จะมีpop-upขึ้นมาถามก่อนลบ-->
                    <input type="button" class="btn" value="Delete" style="margin-top:150px;"> 

                </div>
            
        
        



        
    </fieldset>


</div>
</body>
</html>