<div class="container" ng-controller="modifyMemberController">
    <fieldset class="form-group">
        <legend style="width:300px">MODIFY MEMBER (UPDATE)</legend>

        <div class="row">

            <div class="col-sm-12" style="padding:10px 0 20px 0;">
              <select class="dropdown form-control" style="width: 20%; margin-left:50px">
                <option value="0" selected="selected">--Please Select--</option>
                <option value="1">Project Name</option>
                <option value="2">test2</option>
                <option value="3">test3</option>
              </select>
            </div>

            <div class="col-sm-6">
                <fieldset class="form-group scope-info">
                      <legend>Information</legend>
                      <p>First Name : <!--แสดงชื่อของคนที่เลือกไว้ในdropdown--></p>
                      <p>Last Name : <!--แสดงนามสกุลของคนที่เลือกไว้ในdropdown--></p>
                      <p>E-MAIL : <!--แสดงe-mailของคนที่เลือกไว้ในdropdown--></p>
                </fieldset>
            </div>

            <div class="col-sm-6">
                <fieldset class="form-group scope-info">
                    <legend>Team</legend>
                          <input type="radio" name="team" value="erp"> ERP<br>
                          <input type="radio" name="team" value="ebs"> EBS<br>
                          <input type="radio" name="team" value="seibel"> Seibel<br>
                          <input type="radio" name="team" value="depops"> DevOps<br>
                          <input type="radio" name="team" value="b2b"> Seibel<br>
                          <input type="radio" name="team" value="testteam"> Test Team
                </fieldset>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-6" style="text-align:right;">
              <!--กด update จะไปหน้า modifymember_update-->
              <button type="button" class="btn btn-info" ng-click="updateMemberSubmit()">Save</button>
          </div>
          <div class="col-sm-6" style="text-align:left;">
            <!--พอกด delete จะมีpop-upขึ้นมาถามก่อนลบ-->
            <button type="button" class="btn btn-danger" ng-click="cancelMem()">Cancel</button>
          </div>
        </div>

    </fieldset>

</div>
