<div class="container" ng-controller="formController as ctrl">
  <h1>Request</h1>
  <form id="req-form">
    <fieldset class="form-group">
      <legend>Reason</legend>
      <div class="row">
        <div class="col-sm-6">
          <div>Date From : </div>
          <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
        </div>
        <div class="col-sm-6">
          <div>Date To : </div>
          <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
        </div>
      </div>
      <div class="row">
        <textarea class="form-control req-input" id="exampleTextarea" rows="5" ng-model="reason"></textarea>
      </div>
      <button type="button" class="btn btn-info">Button</button>
    </fieldset>
  </form>
</div>
