<div class="container" ng-controller="viewRequestController" ng-init="getView()">
    <div>
        <fieldset class="group-approve">
            <legend class="name-approve">VIEW DAY OFF REQUEST</legend>
        </fieldset>
    </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Team</th>
        <th>Reason</th>
          <th style="text-align:center;">Date from</th>
          <th style="text-align:center;">Date to</th>
          <th style="text-align:center;">Select</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in listRequest">
        <td>{{item.reason}}</td>
        <td>{{item.date_from}}</td>
        <td>{{item.date_to}}</td>
        <td>{{item.u_name}}</td>
        <td>{{item.team_name}}</td>
          <td><form>
            <div class="checkbox" style="text-align:center;">
                <label><input type="checkbox" value=""></label>
            </div>
            </form>
          </td>
      </tr>
    </tbody>
  </table>
           <div class="button" style="text-align:center;">
             <button type="button" class="btn btn-info" style="margin-right:70px;">APPROVE</button>
               <button type="button" class="btn btn-info">REJECT</button>
            </div>

</div>
